@page
@using Microsoft.Extensions.Localization
@using Najd.Md.Items.Localization
@using Najd.Md.Items.Web.Pages.Items
@model Najd.Md.Items.Web.Pages.Items.IndexModel
@inject IStringLocalizer<ItemsResource> L

@{
}
<h1>Items</h1>
<p>@L["SamplePageMessage"]</p>
